.forgot-password-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.forgot-password-container input {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.forgot-password-container button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.forgot-password-container button:hover {
  background-color: #0056b3;
}

.forgot-password-container button:disabled {
  background-color: #90caf9;
  cursor: not-allowed;
}


.forgot-password-animation svg {
  width: 40% !important;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}

.loading-message {
  margin-top: 1rem;
  color: #333;
}