.verify-otp-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.verify-otp-container input {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.verify-otp-container button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.verify-otp-container button:hover {
  background-color: #218838;
}

.otp-animation svg{
  width: 40% !important;
}