
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  height: 100%;
}

.section-divider {
  border: 0;
  height: 1px;
  background: #333;
  /*margin: 50px 0; !* Adjust the margin to control spacing *!*/
}
